fastapi==0.110.0
openai==1.3.4
openai-whisper==20231117
python-multipart==0.0.9
pytubfix==6.5.1                  
torch==2.1.1
tqdm==4.66.1
uvicorn==0.28.0
google-generativeai==0.3.1
asyncio
sse-starlette
python-dotenv
torchaudio
pyannote.audio